@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

.card {
    margin: 100px 150px;
    display: flex;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
}

.sedan-wrapper {
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 25px;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.suvs-wrapper {
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 25px;
    height: auto;
}

.luxury-wrapper {
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 25px;
    height: auto;
    border-radius: 0 8px 8px 0;
}

.image {
    margin: 20px 0;
    padding: 0px 25px;
}

.title {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 32px;
    padding: 0px 25px;
}

.body-copy {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 0 25px;
}

button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    transition: 50ms;

}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em ;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.sedan-btn {
    color:hsl(31, 77%, 52%);
}

.suvs-btn {
    color:hsl(184, 100%, 22%);
}

.luxury-btn {
    color:hsl(179, 100%, 13%);
}

.attribution {
    font-size: 14px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 58%, 44%);
  }